html,
body {
    height: 100%;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Classes*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.div-centralizada {
    width: auto;
    height: auto;
}


.titulo {
    text-align: center;
    border-bottom: 3px solid black;
    width: 1500px;
    margin: 0;
}
/* Carrossel */
.carrossel {
    width: auto; /* Largura do carrossel */
    max-width: 800px;
    overflow: hidden; /* Esconde imagens fora do carrossel */
    border-radius: 10px; /* Bordas arredondadas */
  }
  
  /* Container que mantém os itens */
  .carrossel-itens {
    display: flex;
    width: 400%; /* 100% x número de imagens (4 imagens) */
    animation: deslizar 12s infinite linear; /* Desliza as imagens a cada 12s */
  }
  
  /* Estilo de cada item do carrossel */
  .carrossel-item {
    width: 100%; /* Cada imagem ocupa 100% do carrossel */
    flex-shrink: 0; /* Impede que as imagens encolham */
  }
  
  .carrossel-item img {
    width: 100%; /* Faz a imagem ocupar toda a largura */
    height: auto;
  }
  
  /* Animação de deslizar as imagens */
  @keyframes deslizar {
    0% { transform: translateX(0); }
    25% { transform: translateX(-25%); }
    50% { transform: translateX(-50%); }
    75% { transform: translateX(-75%); }
    100% { transform: translateX(-100%); }
  }
/*Fim Carrosel*/

/*ID*/